# Copy this file to `.env` or `.env.local` and fill with your Supabase project values
# Replace the values below with the ones from your Supabase project settings.

# Supabase Configuration
PUBLIC_SUPABASE_URL=https://your-project.supabase.co
PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-anon-publishable-key
SUPABASE_SERVICE_ROLE_KEY=

# App Configuration
PUBLIC_SITE_URL=http://localhost:5173
SCHOOL_EMAIL_DOMAIN=pshs.edu.ph

# DRIZZLE ORM
DATABASE_URL="postgres://user:password@host:port/db-name"

# SENTRY
SENTRY_AUTH_TOKEN=